body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-attachment: fixed; /* ВАЖНО — фон "прилипает" */
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;
}


